body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.boek {
  padding: 1em;
  clear: left;
}
.boek__cover {
  float: left;
  padding: 0 3rem 0 0;
  max-width: 300px;
}
.boek_paginas::after, .boek_uitgave::after, .boek_ean::after, .boek_taal::after {
    content: " | ";
}