body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}
.ww {
  position: absolute;
  right: 4em;
  top: 2em;
}
.ww__icon {
  height: 3em;
}
.ww__aantal {
  font-size: 0.6em;
  position: absolute;
  top: -0.3em;
  left: 3.9em;
  background-color: red;
  color: white;
  width: 1em;
  line-height: 1em;
  padding: 0.5em;
  text-align: center;
  border-radius: 2em;
}
#boeken {
  clear: both;
}
.boek {
  padding: 1em;
  clear: left;
}
.boek__cover {
  float: left;
  max-width: 150px;
}
.boek__info {
  margin-left: 180px;
}
.boek_kop {
  margin-top: 0;
  color: royalblue;
  font-size: 1.5em;
}
.boek_paginas::after,
.boek_uitgave::after,
.boek_ean::after {
  content: " | ";
}
.boek_prijs {
  font-size: 2em;
  color: royalblue;
}
.boek__bestel-knop {
  font-size: 0.5em;
  float: right;
  display: block;
  text-decoration: none;
  color: red;
  background-color: white;
  padding: 0.4em 2.5em;
  border: 2px solid red;
  margin-top: 1em;
  margin-right: 1em;
  border-radius: 1em;
  font-weight: 700;
  font-variant: small-caps;
  letter-spacing: 0.2em;
}
.boek__bestel-knop:hover {
  color: wheat;
  background-color: red;
}
.besturing__sorteren {
  float: right;
  text-align: right;
}

@media (min-width: 1250px) {
  #boeken {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .boek:nth-child(4n + 2),
  .boek:nth-child(4n + 3) {
    background-color: #ccc;
  }
}

#haalFormulier {
  display: none;
}
#haalFormulier:checked ~ .bestelformulier {
  transform: translateX(0vw);
}
.bestelformulier {
  background-color: whitesmoke;
  position: absolute;
  width: 80vw;
  min-height: 90vh;
  top: 1em;
  border-radius: 2em;
  border: solid grey 2px;
  padding: 2em;
  box-sizing: border-box;
  margin: 5vh 5vw;
  transform: translateX(100vw);
  transition: transform 1s ease-out;
}