body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.boek {
  padding: 1em;
  clear: left;
}
.boek__cover {
  float: left;
  padding: 0 3rem 0 0;
  max-width: 150px;
}
.boek_kop {
  margin-top: 0;
  color: royalblue;
  font-size: 1.5em;
}
.boek_paginas::after,
.boek_uitgave::after,
.boek_ean::after,
.boek_taal::after {
  content: " | ";
}
.boek_prijs {
  font-size: 2em;
  color: royalblue;
}

.besturing__sorteren{
    float: right;
    text-align: right;
}

@media (max-width:1250) {
    #boeken {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .boek:nth-child(4n+2), .boek:nth-child(4n+3) {
        background-color: #ccc;
    }
}